%html{:xmlns=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en-us", :lang=>"en-us"}
  %head
    %title John F. Miller - Resume
    %meta{"http-equiv"=>"content-type", :content=>"text/html; charset=utf-8"}
    %link{:rel=>"stylesheet", :href=>"stylesheets/screen.css", :type=>"text/css", :media=>"screen, projector", :charset=>"utf-8"}
    %link{:rel=>"stylesheet", :href=>"stylesheets/print.css", :type=>"text/css", :media=>"print", :charset=>"utf-8"}
    /[if IE]
      %link{:rel=>"stylesheet", :href=>"stylesheets/ie.css", :type=>"text/css", :media=>"screen, projector, printer", :charset=>"utf-8"}
  %body.application
    #container
      #personal
        %h1 John F. Miller
        #contact
          .address
            %p 2201 Howe Ave. Apt. 76
            %p Sacramento, CA 95825
          .phone
            %p (916) 923-2534 - Home 
            %p (805) 423-4930 - Cell 
          .email
            %p
              %a{:href=>"mailto:jfmiller@alumni.calpoly.edu"} jfmiller@alumni.calpoly.edu
      %img{:src=>'images/jfm_prof.jpg'}
      %hr
      #attributes
        %ul
          %li team player
          %li computer/technology
          %li self-starter
          %li reliable
          %li communication skills
          %li well-rounded education
          %li detail oriented
          %li personable
          %li quick study
          %li motivated
         
          
      #main
        
        .section
          %h2 Education
          %ul
            %li Master of Divinity - Church Divinity School of the Pacific, Berkeley, CA (2008)
            %li Physics, B.A. - Cal Poly, San Luis Obispo, CA (2000)
        .section
          %h2 Work History
          %ul
            %li Nelson Pipe Organ Co. - Asst. Organ Tech. (2004-09)
            %li All Saints Episcopal Church, Sacramento, CA - Campus Ministry Intern (2004)
            %li Church Divinity School of the Pacific - Admin. Asst. for Admissions (2003-04)
            %li San Luis Obispo County District Attorney's Office: Family Support Division - Computer Tech. (2001-02)
            %li Cal Poly Robert E. Kennedy Library - Library Asst. II (1998-2000)
            %li University Christian Community - Program Coordinator(1996-1999)
        .section
          %h2 Technical Skills
          %ul
            %li Office Suits including: Microsoft Office, OpenOffice.org, Word Perfect, IBM Lotus
            %li Spreadsheet design
            %li Database Design and Maintenance: MySQL, Microsoft Access
            %li OS: Linux (Ubuntu), Microsoft Windows, Mac OSX
            %li Web Development: HTML, CSS, Javascript(including AJAX and Comet implementations), Ruby (including Rails, Merb, HAML, Compass), PHP5
            %li Programming: Ruby, JavaScript, PHP, Erlang, Java, C
        .section
          %h2 Other Activities
          %ul
            %li Physics/Math Tutor
            %li Volunteer Church Admin. Asst.
            %li Stewardship (Fund-raising) Chair
            %li Lay Preacher
            %li Choir Member
        .section
          %h2 References
          %p.references Out of respect for privacy, references will be promptly furnished upon request.
